*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

}
h1{
	
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;

}
section{
	position: relative;
	border: 1px solid black;
}
p{
	margin-top: 15px;
	opacity: .6;
	position: absolute;
}
span{
	float: right;
	position: absolute;
	background-color: #345246;
	border: 1px solid black;
}
sect
/*---------------Large Devices -----------------*/
@media (min-width: 992px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,
	.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,
	.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		float: left;
		background-color:#6c6a61;

	}

	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.33%;
	}
	.col-lg-3{
		width: 24.99%;
	}
	.col-lg-4{
		width: 33.32%;
	}
	.col-lg-5{
		width: 41.65%;
	}
	.col-lg-6{
		width: 49.98%;
	}
	.col-lg-7{
		width: 58.31%;
	}
	.col-lg-8{
		width:66.64%;
	}
	.col-lg-9{
		width: 74.97%;
	}
	.col-lg-10{
		width: 8.33%;
	}
	.col-lg-11{
		width: 91.63%;
	}
	.col-lg-12{
		width: 100%;
	}
	
	





}
/*--------------Medium Devices ---------------*/
@media (min-width: 768px) and (max-width: 991px){

.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,
	.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,
	.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		float: left;
		background-color: #6c6a61;

	}

	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.33%;
	}
	.col-lg-3{
		width: 24.99%;
	}
	.col-lg-4{
		width: 33.32%;
	}
	.col-lg-5{
		width: 41.65%;
	}
	.col-lg-6{
		width: 49.98%;
	}
	.col-lg-7{
		width: 58.31%;
	}
	.col-lg-8{
		width:66.64%;
	}
	.col-lg-9{
		width: 74.97%;
	}
	.col-lg-10{
		width: 8.33%;
	}
	.col-lg-11{
		width: 91.63%;
	}
	.col-lg-12{
		width: 100%;
	}
	
}




